.content{
    width: 80%;
    margin: auto;
    max-height: 200px;
    overflow:scroll;
   

    ion-list{
        width: 99%;
        
    }

    img{
        width: 30px;
        border-style: solid 1px red;
    }


}