<div class="content" mode="ios">
  <ion-list class="naipes" mode="md">  
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
    <ion-item>
      <img src="../../../assets/card/ACopas.jpg" alt="">
      <ion-label>EX2</ion-label>
    </ion-item>
  </ion-list>
</div>
