<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button color="primary">
        <!--<ion-icon slot="icon-only" name="arrow-back"></ion-icon>-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <img src="../../assets/icon/iconWhite.png" alt="">
  </div>
  <form id="#form" class="form">
    
    <ion-item  class="inputIem" lines="none" >
      <ion-label class="labelForm" position="stacked">Email</ion-label>
      <ion-input class="inputForm" type="email" placeholder="your email"></ion-input>
    </ion-item>

    <ion-item  class="inputIem" lines="none" >
      <ion-label class="labelForm" position="stacked">Password</ion-label>
      <ion-input class="inputForm" type="password" ></ion-input>
    </ion-item>
    <!--
      <ion-item class="imputBtn">
      <ion-input type="password" placeholder=""></ion-input>
    </ion-item>
    -->
    <div class="div_buttons">
      <div class="div_button" >
        <ion-button [routerLink]="['/register']" class="button_register">Register</ion-button>
      </div>
      <div class="div_button">
        <ion-button [routerLink]="['/home']" class="button_login">Login</ion-button>
      </div>
      <div class="div_button2">
        <ion-button class="button_guest">Guest</ion-button>
      </div>
    </div>

    <div style="margin-top: 35px; color: white;">
      <p style="text-align: center;">Forgot password? Click <a style="text-decoration: none; color: red;">here</a> !</p>
    </div>
    
  </form>
</ion-content>