ion-toolbar{
    --background: #3c3c3c;
}

ion-content{
    --background: #3c3c3c;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 200px;
        
    }
}

.form{
    margin-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 0px;
}



.inputForm{
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 22px;
    display: block;
    margin-top: 7px;
    --padding-start: 9px;
    margin-bottom: 8px;
    color: white;
    --placeholder-color: rgb(255, 255, 255);
}


.md .labelForm{
    color: #ff0000;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 3px;
    font-size: 25px;
}

.ios .labelForm{
    color: #ff0000;
    display: block;
    margin-left: 3px;
    font-weight: bold;
    font-size: 20px;
}

.inputIem{
    --background: none;
    margin-top: 10px;
    background-color: none;
    
}

.div_buttons{
    width: 100%; 
    height: max-content; 
    margin-top: 15px;
}

.div_button{
    display: inline-block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%; 
    margin-left: 5%; 
    margin-right: 5%;
}

.div_button2{
    display: block; 
    width: 90%; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 20px;
}

.button_register{
    width: 100%; 
    --background: #0d0d0d; 
    height: 45px;
    font-weight: bold;
    border-radius: 10px;
}

.button_login{
    width: 100%; 
    --background: #ff0000; 
    height: 45px;
    font-weight: bold;
    border-radius: 10px;
    //box-shadow: 4px 4px 3px rgb(230, 230, 230, 0.2);
}

.button_guest{
    width: 100%; 
    --background: #ff0000; 
    height: 45px;
    font-weight: bold;
    border-radius: 10px;
    //box-shadow: 4px 4px 3px rgb(230, 230, 230, 0.2);
}
.backButton{
    --color: red;
    --color-focused: red;
}
