@import "~swiper/css/effect-cards";

ion-header{
    padding-top: 10px;
    background-color: var(--ion-color-primary);;
}

ion-content{
    --ion-background-color:var(--ion-color-primary-tint);

    .wodName{
        background: red;
        padding: 5px;
        width: 100%;
    }

    .timer{
        width: 100%;
        background: rgb(85, 85, 85);

        ion-icon{
            height: 20px;
            width: 20px;
        }

        h4{
            margin: 0px;
        }

        ion-icon {
            color: #ffffff;
            font-size: 24px;
        }

        ion-text{
            color: white;
        }
    }
    .timer2{
        margin-top: 40px;
        width: 100%;
        background: rgb(85, 85, 85);

        ion-icon{
            margin-left: auto;
            margin-right: 0px;
            color: #ffffff;
            font-size: 24px;
            height: 20px;
            width: 20px;
        }

        h4{
            margin: 0px;
            color: white;
        }

    }

    .exercise{
        width: 100%;
        text-align: center;

        h1{
            color: white;
        }
    }

    .deck{
        margin: auto;
        width: 100%;
        
        //border: 3px solid green;

        img{
            margin-top: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
        }
    }

    .actionButton{
        margin-top: 0px;
        width: 100%;
        
        ion-button:first-of-type{
            border-right: 2px black !important;
        }

        ion-button {
            width: 90%;
            margin: auto;
            --background: rgb(255, 0, 0)!important;
            color: white;
            box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
        }

    }
}


.swiper {
  width: 180px;
  height: 250px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }


